@import "_nullstyle";

@font-face {
  font-family: "Scania Sans CY Headline";
  src: local("Scania Sans CY Headline"), url(../fonts/scania/ScaniaSansCYHeadline-Regular.ttf);
}

@font-face {
  font-family: "Lab Grotesque";
  src: local("Lab Grotesque"), url(../fonts/lab/LabGrotesque-Light.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  background: url("../img/back.png") repeat top center;
  width: 100%;
  font-family: "Lab Grotesque";
}

.content {
  max-width: 1290px;
  margin: 0 auto;
}

.back {
  width: 100%;
  background: url("../img/backgroundshadow.png") no-repeat;
  background-position: 35% 0;
  margin-top: -430px;
}

a {
  color: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 435px;
  .left {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .logo {
    font-family: "Scania Sans CY Headline";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 70px;
    letter-spacing: 0.105em;
    color: #ffffff;
  }
  h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #6d6d6d;
  }
  .right {
    display: flex;
    align-items: center;
  }
  ul {
    display: flex;
    align-items: center;
    gap: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #949494;
    li {
      transition: all 0.3s linear;
      &:hover {
        transform: scale(1.05);
        cursor: pointer;
        color: #ffcf7a;
      }
    }
  }
  .phone {
    margin-left: 60px;
    background: url("../img/phone.png");
    width: 50px;
    height: 50px;
  }
}

.about {
  margin-top: 92px;
  background: url("../img/kamin4.png") no-repeat;
  background-position: 90%;
  h1 {
    font-style: normal;
    font-weight: 250;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background: linear-gradient(226.43deg, #ffffff 49.37%, rgba(255, 255, 255, 0) 99.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  h3 {
    margin-top: 30px;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #ffcf7a;
    span {
      font-size: 18px;
    }
  }
}

.about_info {
  margin-top: 86px;
  display: flex;
  align-items: baseline;
  gap: 80px;
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
  }
  .self {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100px;
    .gear {
      background: url("../img/gear.png");
      width: 30px;
      height: 30px;
    }
  }
  .delivery {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100px;
    .plane {
      background: url("../img/plane.png");
      width: 30px;
      height: 30px;
    }
  }
}

.fire {
  margin-top: 223px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    font-style: normal;
    font-weight: 250;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    background: linear-gradient(240.22deg, #ffffff 31.8%, rgba(255, 255, 255, 0) 97.73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    // text-fill-color: transparent;
  }
  .desc {
    margin-top: 21px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .fire_back {
    background: url("../img/kamin2.png");
    width: 100%;
    height: 495px;
  }
  .fire_about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 140px;
    p {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
    }
  }
}

.light,
.bio,
.nosmoke {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.icon {
  width: 50px;
  height: 50px;
}

.light .icon {
  background: url("../img/fire.png") no-repeat;
}
.bio .icon {
  background: url("../img/bio.png") no-repeat;
}
.nosmoke .icon {
  background: url("../img/nosmoke.png") no-repeat;
  height: 40px;
}

.fill {
  // margin-top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left {
    margin-left: 100px;
    .left-top {
      width: 370px;
    }
    h1 {
      font-style: normal;
      font-weight: 250;
      font-size: 40px;
      line-height: 55px;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      background: linear-gradient(233.62deg, #ffffff 28.79%, rgba(255, 255, 255, 0) 98.2%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      // text-fill-color: transparent;
    }
    p {
      margin-top: 25px;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 33px;
      color: #ffffff;
    }
    .left-bottom {
      margin-left: 370px;
      width: 250px;
      .on {
        margin-top: 87px;
        background: url("../img/on.png") no-repeat;
        width: 110px;
        height: 20px;
      }
    }
  }
  .right {
    background: url("../img/fill.png") no-repeat;
    width: 900px;
    height: 900px;
    margin-left: -370px;
  }
}

.smart {
  h1 {
    font-style: normal;
    font-weight: 250;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    background: linear-gradient(247.29deg, #ffffff 35.25%, rgba(255, 255, 255, 0) 104.81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    // text-fill-color: transparent;
  }
  p {
    margin-top: 30px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    color: #ffffff;
  }
  .smart_back {
    background: url("../img/kamin6.png");
    width: 100%;
    height: 600px;
  }
}

.variants {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 120px;
  .left,
  .right {
    width: 100%;
  }
  .right {
    margin-top: -90px;
  }
}

.info {
  h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
  }
  p {
    margin-top: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #ffffff;
  }
}

.info_img {
  background: url("../img/info.png") no-repeat;
  width: 100%;
  height: 190px;
}

.var_ot,
.complect {
  margin-top: 20px;
  h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #757575;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 360px;
    height: 100px;
    gap: 0 120px;
    padding-top: 20px;
  }
  li {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #ffffff;
  }
}

.complect {
  ul {
    height: 180px;
  }
}

.completed {
  margin-top: 80px;
  h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
  }
  p {
    width: 537px;
    margin: 25px 0 40px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #ffffff;
  }
}

.acs {
  margin-top: 105px;
  p {
    margin-bottom: 60px;
  }
}

.slider {
  width: 537px;
  height: 346px;
  background: #121212;
  border-radius: 2px;
  position: relative;
}

.arrows {
  position: absolute;
  bottom: 45px;
  left: 45px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.arrow_left {
  background: url("../img/arrow_left.png");
  width: 10px;
  height: 18px;
  transition: all 0.3s linear;
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}
.arrow_right {
  background: url("../img/arrow_right.png");
  width: 10px;
  height: 18px;
  transition: all 0.3s linear;
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}

.catalog {
  margin-top: 106px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 35px;
  }
  button {
    background: url("../img/button.png");
    padding: 15px 65px;
    border-radius: 2px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #121212;
    transition: all 0.3s linear;
    &:hover {
      transform: scale(1.05);
    }
  }
}

.help {
  margin-top: 120px;
  .bottom {
    margin-top: 90px;
  }
}

.top,
.bottom {
  .title {
    font-style: normal;
    font-weight: 250;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    background: linear-gradient(249.07deg, #ffffff 36.17%, rgba(255, 255, 255, 0) 97.71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    // text-fill-color: transparent;
    margin-bottom: 45px;
  }
  .items_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .item {
      width: 370px;
      height: 267px;
      background: #121212;
      border-radius: 2px;
    }
  }
}

.choice {
  margin-top: 94px;
  h1 {
    font-style: normal;
    font-weight: 250;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    background: linear-gradient(235.41deg, #ffffff 28.47%, rgba(255, 255, 255, 0.18) 91.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    // text-fill-color: transparent;
  }
  .top {
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 85px;
    .top-left {
      background: url("../img/kamin7.png");
      width: 533px;
      height: 374px;
    }
    .top-right {
      .length-choice {
        display: flex;
        align-items: center;
        input[type="range"] {
          width: 450px;
          margin: 0 40px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          outline: none;
          overflow: hidden;
          height: 2px;
        }

        input[type="range"]::-webkit-slider-runnable-track {
          height: 7px;
          background-color: #646464;
        }

        input[type="range"]::-webkit-slider-thumb {
          background: #ecf0f1;
          cursor: pointer;
          width: 15px;
          height: 30px;
          -webkit-appearance: none;
          margin-top: -4px;
          box-shadow: -250px 0 0 250px #ffcf7a;
        }
      }
      .panel_container {
        .panel {
          display: flex;
          align-items: center;
        }
        .panel_img {
          background: url("../img/panel.png");
          margin: 20px;
          width: 250px;
          height: 60px;
        }
      }
      .func_container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 150px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        color: #ffffff;
        label {
          width: 200px;
          display: flex;
          justify-content: space-between;
          margin-top: 8px;
        }
        .checkbox.style-c {
          display: inline-block;
          position: relative;
          padding-left: 30px;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        .checkbox.style-c input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }
        .checkbox.style-c input:checked ~ .checkbox__checkmark {
          background-color: #ceb787;
        }
        .checkbox.style-c input:checked ~ .checkbox__checkmark:after {
          opacity: 1;
        }
        .checkbox.style-c:hover input ~ .checkbox__checkmark {
          background-color: #ceb787;
        }
        .checkbox.style-c:hover input:checked ~ .checkbox__checkmark {
          background-color: #ceb787;
        }
        .checkbox.style-c .checkbox__checkmark {
          position: absolute;
          top: 2px;
          left: 180px;
          height: 20px;
          width: 20px;
          background-color: transparent;
          transition: background-color 0.25s ease;
          border-radius: 4px;
          border: 2px solid #ceb787;
        }
        .checkbox.style-c .checkbox__checkmark:after {
          content: "";
          position: absolute;
          left: 6px;
          top: 2px;
          width: 5px;
          height: 10px;
          border: solid #333;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
          opacity: 0;
          transition: opacity 0.25s ease;
        }
        .checkbox.style-c .checkbox__body {
          color: #fff;
          line-height: 1.4;
          font-size: 16px;
          margin-left: -30px;
        }
      }
      p {
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 55px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.5);
      }
      span {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 55px;
        text-align: center;
        color: #ffffff;
      }
    }
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    div {
      height: 100px;
    }
    p {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 55px;
      letter-spacing: 0.135em;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.5);
    }
    .total_lenth {
      margin-top: -10px;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 55px;
      color: #ffffff;
    }
    .total_panel {
      gap: 20px;
      width: 28px;
      height: 28px;
      background-color: #b8542a;
      border-radius: 500px;
    }
    .total_price {
      font-style: normal;
      font-weight: 300;
      font-size: 36px;
      line-height: 40px;
      letter-spacing: 0.05em;
      color: #ffcf7a;
    }
    button {
      width: 254px;
      height: 60px;
      background: url("../img/button.png");
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      color: #121212;
      border-radius: 2px;
      transition: all 0.3s linear;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

footer {
  margin-top: 70px;
  background: #121212;
  padding-top: 72px;
}

.contact_us {
  h1 {
    margin-bottom: 70px;
    font-style: normal;
    font-weight: 250;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    background: linear-gradient(231.91deg, #ffffff 37.36%, rgba(255, 255, 255, 0) 99.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    // text-fill-color: transparent;
  }
  .contact_container {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    // align-items: center;
    gap: 50px 200px;
    .contact_item {
      width: 250px;
      p {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 36px;
        color: #949494;
      }
      h3 {
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 36px;
        color: #ffffff;
      }
    }
    button {
      padding: 15px 30px;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      color: #ffffff;
      border: 1px solid #ceb787;
      border-radius: 2px;
      background-color: transparent;
      transition: all 0.3s linear;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.line {
  height: 2px;
  width: 100%;
  background-color: #232323;
  margin-top: 90px;
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.left-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  .logo {
    font-family: "Scania Sans CY Headline";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 70px;
    letter-spacing: 0.105em;
    color: #ffffff;
  }
  .year {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #6d6d6d;
  }
  .company {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #6d6d6d;
  }
}

.right-side {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #6d6d6d;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

@media (max-width: 576px) {
  main,
  header,
  footer {
    overflow: hidden;
  }

  .back {
    background-position: 35% -2%;
    margin-top: 0px;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    flex-wrap: wrap;
    .left {
      display: flex;
      align-items: center;
      gap: 40px;
    }
    ul {
      flex-wrap: wrap;
      gap: 20px;
    }
    .phone {
      display: none;
    }
  }
  .about {
    padding: 0 10px;
    margin-top: 32px;
    background: url("../img/kamin4.png") no-repeat;
    background-position: 90%;
    background-size: 70%;
    h1 {
      font-size: 34px;
      line-height: 40px;
    }
    h3 {
      font-size: 26px;
      span {
        font-size: 14px;
      }
    }
  }

  .about_info {
    margin-top: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 60px;
  }

  .fire {
    padding: 0 10px;
    margin-top: 103px;
    .title {
      font-size: 36px;
    }
    .desc {
      font-size: 16px;
    }
    .fire_back {
      background: url("../img/kamin2.png") top center;
    }
    .fire_about {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      gap: 30px;
      p {
        font-size: 14px;
      }
    }
  }

  .fill {
    margin-top: 200px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .left {
      margin-left: 0px;
      h1 {
        font-size: 40px;
      }
      .left-bottom {
        margin-left: 0px;
      }
    }
    .right {
      display: none;
    }
  }

  .smart {
    padding: 0 10px;
    margin-top: 200px;
    h1 {
      font-size: 40px;
    }
    p {
      margin-top: 30px;
    }
    .smart_back {
      background: url("../img/kamin6.png") center no-repeat;
      background-size: 120%;
      width: 100%;
      height: 200px;
    }
  }

  .variants {
    padding: 0 10px;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .info {
    h3 {
      font-size: 22px;
    }
    p {
      font-size: 12px;
    }
  }

  .info_img {
    background-size: 90%;
  }

  .var_ot,
  .complect {
    margin-top: 20px;
    ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 360px;
      height: 100px;
      gap: 0 120px;
      padding-top: 20px;
    }
  }

  .complect {
    ul {
      height: 300px;
    }
  }
  .catalog {
    padding: 0 10px;
  }
  .help {
    padding: 0 10px;
  }

  .top,
  .bottom {
    .title {
      font-size: 30px;
    }
  }

  .choice {
    padding: 0 10px;
    margin-top: 124px;
    h1 {
      font-size: 30px;
    }
    .top {
      margin-top: 67px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      gap: 35px;
      .top-left {
        background: url("../img/kamin7.png") no-repeat;
        background-size: 100%;
      }
      .top-right {
        .length-choice {
          display: flex;
          align-items: center;
          input[type="range"] {
            width: 280px;
            margin: 0 20px;
          }
        }
        .func_container {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          height: 250px;
        }
      }
    }
    .bottom {
      display: flex;
      justify-content: space-around;
      gap: 20px;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 80px;
    }
  }

  footer {
    margin-top: 70px;
    background: #121212;
    padding: 72px 10px 0 10px;
  }

  .contact_us {
    h1 {
      font-size: 30px;
    }
  }

  .footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 10px;
    gap: 20px;
  }

  .left-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .back {
    padding: 0 10px;
  }

  header {
    flex-wrap: wrap;
  }
  .about {
    margin-top: 92px;
    background: url("../img/kamin4.png") no-repeat;
    background-position: 100%;
    background-size: 70%;
  }
  .fire {
    .fire_back {
      background: url("../img/kamin2.png") center;
      width: 100%;
      height: 495px;
    }
    .fire_about {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
    }
  }

  .smart {
    .smart_back {
      background: url("../img/kamin6.png") center;
      background-size: 140%;
      width: 100%;
      height: 600px;
    }
  }

  .variants {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .choice {
    .top {
      margin-top: 67px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      gap: 85px;
      .top-left {
        background: url("../img/kamin7.png") no-repeat;
        background-size: 100%;
        width: 100%;
        height: 520px;
      }
      .top-right {
        width: 100%;
      }
    }
  }
}
